code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
  margin: 0;
  padding: 4px 8px;
  font-size: 0.9em;
  background-color: rgba(241, 241, 241, 0.25);
  border: 1px solid #939393;
  border-radius: 4px;

  box-sizing: border-box;
}
.api-prop-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sandbox table td div {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  margin: 5rem 1rem;
}
.main h4 {
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.neo-form-control {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  padding: 0.5rem;
}

.settings-panel {
  display: flex;
  /*width: clamp(13rem, 14rem, 16rem);*/
  flex: 1 1 200px;
  flex-direction: column;
  border: 1px dashed #979696;
  padding: 1rem;
  flex-flow: row wrap;
  max-width: 1090px;
}
.sandbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: 1px dashed #979696;
  flex: 1 1 100%;
  max-width: 1090px;
}

.buttons-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.button-box {
  margin: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*
* xs: '(max-width: 575px)',
*/
@media screen and (max-width: 575px) {
  .settings-panel {
    order: -1;
    border-bottom: none;
  }
}

/*
* sm: '(min-width: 576px)',
*/
@media screen and (min-width: 576px) {
  .settings-panel {
    order: -1;
    border-bottom: none;
  }
}

/*
* md: '(min-width: 768px)',
*/
@media screen and (min-width: 768px) {
  .settings-panel {
    order: -1;
    border-bottom: none;
  }
}

/*
* lg: '(min-width: 992px)',
*/
@media screen and (min-width: 992px) {
  .settings-panel {
    order: -1;
    border-bottom: none;
  }
}

/*
*xl: '(min-width: 1200px)',
*/
@media screen and (min-width: 1200px) {
  .settings-panel {
    order: -1;
    border-bottom: none;
  }
}

/*
xxl: '(min-width: 1600px)',
*/
@media screen and (min-width: 1600px) {
  .settings-panel {
    order: 1;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left: none;
    max-width: 250px;
  }
}

@media screen and (min-width: 1372px) {
  .settings-panel {
    order: 1;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left: none;
    border-bottom: 1px dashed #979696;
    max-width: 250px;
  }
}
