code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
  margin: 0;
  padding: 4px 8px;
  font-size: 0.9em;
  background-color: #f1f1f1;
  border: 1px solid #939393;
  border-radius: 4px;

  box-sizing: border-box;
}
.api-prop-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sandbox table td div {
  font-size: 0.8rem;
  font-family: Roboto Mono, monospace;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
}
.main h4 {
  text-align: center;
  margin-top: 0.5rem;
}
.settings-panel {
  display: flex;
  width: clamp(13rem, 14rem, 16rem);
  flex-direction: column;
  border: 1px dashed #979696;
  padding: 1rem;
}
.sandbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 1px dashed #979696;
  border-right: none;
}

.buttons-container {
  width: clamp(10rem, 34rem, 38rem);
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.button-box {
  margin: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
