html,
body {
  height: 100%;
}
#root {
  min-height: 100%;
}
.layout-box {
  display: flex;
}
.left-menu {
  position: fixed;
  left: -100%;
  transition: 0.4s;
  z-index: 50;
}
.active {
  left: 0;
  transition: 0.4s;
}
